apiVersion: v1
kind: Secret
metadata:
  name: {{ include "restapi-example.secretName" . }}
  labels:
    {{- include "restapi-example.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if and (or (eq .Values.config.auth.mode "basic") (eq .Values.config.auth.mode "multi")) (not .Values.config.basicAuth.existingSecret) .Values.config.basicAuth.users }}
  APP_BASIC_AUTH_USERS: {{ .Values.config.basicAuth.users | quote }}
  {{- end }}
  {{- if and (or (eq .Values.config.auth.mode "apikey") (eq .Values.config.auth.mode "multi")) (not .Values.config.apiKey.existingSecret) .Values.config.apiKey.keys }}
  APP_API_KEYS: {{ .Values.config.apiKey.keys | quote }}
  {{- end }}
---
{{- if and .Values.vault.enabled (not .Values.vault.existingSecret) .Values.vault.token }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "restapi-example.vaultSecretName" . }}
  labels:
    {{- include "restapi-example.labels" . | nindent 4 }}
type: Opaque
stringData:
  vault-token: {{ .Values.vault.token | quote }}
{{- end }}
